<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching enabled="false" />
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
