<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings />
	<system.web>
		<compilation debug="false">
		</compilation>
	</system.web>
	<system.codedom>
	</system.codedom>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Giris.aspx" />
            </files>
        </defaultDocument>
        <security>
        </security>
    </system.webServer>	
</configuration>
